body{
    background: #ffce00;
}
.container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.fill{
    background-image: url('http://source.unsplash.com/random/150x150');
    position: relative;
    left: 5px;
    top: 5px;
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.empty{
    display: inline-block;
    height: 160px;
    width: 160px;
    margin:10px;
    border: 1px salmon solid;
    background-color: white;
    position:absolute
}

.hold{
    border: solid #ccc 4px;
}

.hovered{
    background: #f4f4f4;
    border-style: dashed;
}

.invisible{
    display: none;
}
.flowchart-items{
    height: 50%;
    min-height: 250px;
    width: 10%;
    background-color: white;
    border: 1px salmon solid;
     margin:10px;
}

.heading{
    font-size: medium;
    font-weight: 700;
    padding: 6px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
   
    margin-bottom:2px;
}


.items{
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.oval{
    width: 50px;
      height: 25px;
        border-radius: 100px / 50px;
      background: white;
      border: 2px #5e5e5e solid;
     
    
}
.parallelogram{ 
     width: 50px;
      height: 25px;
      background: white;
      border: 2px #5e5e5e solid;
     transform: skew(20deg);  
}

.rectangle{
      width: 50px;
      height: 25px;
      background: white;
      border: 2px #5e5e5e solid;
}
 .diamond {
      width: 0;
      height: 0;
      border: 25px solid transparent;
      border-bottom-color: #5e5e5e;
      position: relative;
      top: -25px;
    }
.diamond:after {
      content: '';
      position: absolute;
      left: -25px;
      top: 25px;
      width: 0;
      height: 0;
      border: 25px solid transparent;
      border-top-color: #5e5e5e;
    }
  
.item{ 
   margin: 10px;
    display: inline-block;
   cursor: pointer;
}

.larger{
    height: 500px;
    width: 800px;
}