body{
    background: #f5d141;
}
.container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


.empty{
    display: inline-block;
    height: 160px;
    width: 180px;
    margin:10px;
    border: 1px salmon solid;
    background-color: white;
    position:absolute
}

.flowchart-items{
    height: 50%;
    min-height: 250px;
    width: 10%;
    background-color: white;
    border: 1px salmon solid;
     margin:10px;
}

.heading{
    font-size: medium;
    font-weight: 600;
    padding: 6px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
   
    margin-bottom:2px;
}


.items{
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.oval{
    width: 50px;
      height: 25px;
        border-radius: 100px / 50px;
      background: white;
      border: 2px #5e5e5e solid;
      overflow:hidden;
      touch-action: auto;
      box-sizing: border-box;
      text-align: center;
    
}
.parallelogram{ 
     width: 50px;
      height: 25px;
      background: white;
      border: 2px #5e5e5e solid;
     transform: skew(20deg);  
      box-sizing: border-box;
}

.rectangle{
      width: 50px;
      height: 25px;
      background: white;
      border: 2px #5e5e5e solid;
      overflow:hidden;
      touch-action: auto;
      box-sizing: border-box;
      text-align: center;
}
 
.line{
width: 2px;
max-width: 2px;
min-width: 2px;
height: 46px;
min-height: 6px;
background-color: #5e5e5e;
}


.item{ 
   margin: 10px;
    display: inline-block;
   cursor: move;
}

.larger{
    height: 500px;
    width:85%;
    position: absolute;
}

#input{
width: 60%;
height: 25%;
border: none;
}

button{
    border:none;
    background-color: white;
}

.delete{
    padding-top:40px ;
    color: white;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 200px;
    background-color: rgb(238, 70, 70);
}

.rotated { 
    transform:rotate(90deg); 
    -webkit-transform:rotate(90deg); 
    -moz-transform:rotate(90deg); 
    -o-transform:rotate(90deg); 
}

table{
    text-align: center;
}
